= haml :_errors, layout: false

#rename-div(style="display:none")
  %form#rename-form(action="/rename" method="post")
    %input#oldname(name="oldname" type="hidden" value="#{doc.name}")
    %p
      %input#newname(name="newname" type="text" placeholder="New ChordPro Name")
      %input(type="submit" value="Update")

%form#new-form(action="" method="post")
  %p
    - if doc.name.blank?
      %input#docname(name="docname" type="text" placeholder="ChordPro Name")
    - else
      %input#docname(name="docname" type="text" value="#{doc.name}" disabled="true")
      %input#docname(name="docname" type="hidden" value="#{doc.name}")
      %a#rename-show(href="#") Rename
      %a#rename-hide(href="#" style="display:none") Cancel
  %p
    %textarea#markup(name="markup" rows="30" cols="80" placeholder="ChordPro Markup")= doc.markup

  %p
    %button.new-form-button(data-url="/save") Save
    %button.new-form-button(data-url="/preview") Preview
    %button.new-form-button(data-url="/download") Download ChordPro
    %button.new-form-button(data-url="/render") Download PDF
    %a(href="/") Close

#footer
  %p
    ChordPro preview provided by
    %a(href="http://webchord.sourceforge.net/") WebChord
  %p
    %a(href="http://www.vromans.org/johan/projects/Chordii/chordpro/index.html") ChordPro Syntax Guide
